.repName {
    background-color: #eff8ff;
    border: 0 solid #ccc;
    border-bottom-width: 1px;
    font: normal 10pt Arial;
    padding: 4px 4px 4px 27px;
    text-indent: -24px;
    cursor: pointer;
    display: block;
}
.repNameSel {
    background-color: rgb(30, 144, 255);
    border-bottom-color: transparent;
    color: white;
}
.armMenuItem {
    font: normal 12px Verdana,sans-serif;
    vertical-align: middle;
    color: #000;
    padding: 9px 15px;
    padding-bottom: 10px;
    border-radius: 3px;
    outline: none;
    cursor: pointer;
    display: table-cell;
}

.armMenuItem:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.05) 30%, rgba(0, 0, 0, 0.05) 70%);
    color: #fff;
    background-color: rgba(47, 98, 95, 0.4);
}
