.sel {
    border: 1px solid #aaa;
    border-bottom-color: #fff;
    border-radius: 5px 5px 0 0;
    background: #fff;
    text-align: center;
    padding: 10px 0;
    display: table-cell;
    width: 33%;
}
.nosel {
    border: 1px solid #aaa;
    border-radius: 5px 5px 0 0;
    background: #eee;
    text-align: center;
    padding: 10px 0;
    display: table-cell;
    width: 33%;
}
.tbl {
    display: table;
    width: 600px;
    margin: auto;
    table-layout: fixed;
}
.descr {
    padding: 5px;
    text-align: justify;
    margin: auto;
    background: #fff;
    border: 1px solid #aaa;
    border-width: 0 1px 1px 1px;
}
.h2 {
    font: bold 20px Times;
    text-align: center;
    padding: 5px 0;
}
.h3 {
    font: bold 16px Times;
    text-align: center;
    padding: 3px 0;
}
p {
    margin: 0;
    text-indent: 20px;
}